<footer class="footer bg-dark py-3 mt-auto footer-dark-mode">
    <div class="container">
        <span class="text-white">&copy; RocketInfo 2023</span> 
        <span class="text-white" style="float: right;">Made by <a href="https://github.com/sdk09636" target="_blank" style="color: #8a4040; text-decoration: none;">SDK</a></span>
    </div>
</footer>